name: gen-repository-iso
on:
  workflow_dispatch:
    inputs:
      tags:
        description: 'tags to create build'

jobs:
  build:
    runs-on: ubuntu-20.04
    permissions: write-all
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: ubuntu-20.04-debs
            dockerfile: dockerfile.ubuntu2004
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build iso image to local
        uses: docker/build-push-action@v6
        with:
          context: hack/gen-repository-iso
          file: hack/gen-repository-iso/${{ matrix.dockerfile }}
          platforms: linux/amd64,linux/arm64
          outputs: type=local,dest=./output

      - name: Prepare for upload iso
        shell: bash
        run: |
          mv ./output/linux_amd64/*.iso ${{ matrix.name }}-amd64.iso
          mv ./output/linux_arm64/*.iso ${{ matrix.name }}-arm64.iso
          sha256sum *.iso >  ${{ matrix.name }}.iso.sha256sum.txt
      - name: create release and upload assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{ matrix.name }}.iso.sha256sum.txt
            ${{ matrix.name }}-amd64.iso
            ${{ matrix.name }}-arm64.iso
          tag_name: ${{ github.event.inputs.tags }}
